* {
  padding: 0;
  margin: 0;
}
.navigasi {
  text-align: center;
  font-family: arial black;
  color: white;
  background-color: red;
  padding: 1rem;
}
h2 {
  text-align: center;
  font-size: xx-large;
  padding-top: 50px;
  font-family: arial black;
}

.header {
  flex: 1;
  justify-content: center;
  background-color: white;
  box-shadow: 0 50px 30px rgba(0, 0, 0, 0.1);
  padding: 0.8rem;
  height: 530px;
  width: 500px;
  border-radius: 10px;
  margin: 20px auto;
}
p {
  text-align: center;
  padding-bottom: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
button {
  display: block;
  width: fit-content;
  margin: 10px auto;
  padding: 10px 20px;
  background: red;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  transition: transform 0.3s;
}
button a {
  display: block;
  width: fit-content;
  background: red;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  transition: transform 0.3s;
}
button:hover {
  transform: translateY(-5px);
}
