nav {
  position: sticky;
  top: 0; 
  background: black;
  padding: 10px 20px;
  color: white;
}
#card {
  padding: 10px;
  border: 5px solid black;
  width: 700px;
  margin: 0 auto;
  text-align: center;
}
.toko {
  background-color: lightseagreen;
  color: white;
  text-align: center;
  font-size: x-large;
}
#container {
  width: 400px;
  height: 250px;
  border: 5px solid grey;
  position: relative;
  margin: 0 auto;
  padding: 10px;
  width: 600px;
  margin-top: 10px;
}

.box {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  color: #333;
}

.a {
  background-color: lightblue;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}

.b {
  background-color: #7daedd;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 0;
}
