body {
  margin: 0;
  padding: 0;
}
.navigasi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  position: static;
  z-index: 1;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 50px;
  position: static;
  z-index: 1;
}
nav ul li a {
  text-decoration: none;
  color: black;
  transition: 0.5s ease;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
  z-index: 1;
  position: static;
  transition: 0.5s ease;
}
nav ul li a:hover {
  color: #5e3bee;
  z-index: 1;
  position: static;
  transition: 0.5s ease;
}
.logo {
  margin-left: 10px;
}
button {
  background-color: white;
  color: #5e3bee;
  border: 2px #5e3bee solid;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.5s ease;
  padding: 20px;
  margin-right: 10px;
  margin-top: 30px;
}
button:hover {
  background-color: #5e3bee;
  color: white;
}
.orang-1 {
  float: right;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-text {
  display: block;
  justify-content: space-between;
  align-items: center;
}
.header-text-1 h6 {
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0;
}
.header-text-1 h1 {
  font-size: 50px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.header-text-1 p {
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
}

