.container {
  width: 100%;
  max-width: 900px;
  text-align: center;
}
.nama {
  background: #ada1ff;
  background: linear-gradient(
    90deg,
    rgba(173, 161, 255, 1) 0%,
    rgba(0, 255, 42, 1) 50%,
    rgba(255, 228, 20, 1) 100%
  );
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  color: white;
  border-radius: 10px;
}
.nama {
  font-family: "Archivo Black", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: x-large;
}
button{
  margin-top: 40px;
  border-radius: 10px;
  size: 50px;
}
