p {
  font-family: sans-serif;
  color: grey;
  font-size: small;
}
h3 {
  font-family: arial black;
}
h1 {
  font-family: sans-serif;
  padding: 20px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.box {
  flex: 1 1 300px;
  height: 300px;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  align-items: center;
}

#box1 {
  max-width: 300px;
  background: white;
  line-height: 15px;
  justify-content: center;
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}
#box1:hover {
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
}
.button-box1 {
  background: #6e8cfb;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-family: sans-serif;
  border: none;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.button-box1:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
}

#box2 {
  max-width: 300px;
  background: white;
  line-height: 15px;
  justify-content: center;
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}
#box2:hover {
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
}
.button-box2 {
  background: #6e8cfb;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-family: sans-serif;
  border: none;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.button-box2:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
}
.feedback {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.box-feedback {
  width: 320px;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 8px;
  box-sizing: border-box;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.box-feedback:hover {
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
  transform: translateY(-10px);
}
.profile {
  display: flex;
  justify-content: left;
  gap: 5px;
  align-items: center;
}
.h2 {
  font-family: sans-serif;
}
