p.font-san-serif {
  font-family: san-serif;
}

p.font-serif {
  font-family: serif;
}

p.font-monospace {
  font-family: monospace;
}

p.font-cursive {
  font-family: cursive;
}

p.font-fantasy{
  font-family: fantasy;
}