/*
.container {
  justify-content: space-between;
}
.box1 {
  width: 300px;
  height: 300px;
  float: right;
}
.box2 {
  width: 300px;
  height: 300px;
  float: left;
}

.box1{
    width: 200px;
    height: 200px;
    background-color: lightblue;
    float: left;
}
.box2{
    width: 200px;
    height: 200px;
    background-color: lightgray;
    float: left;
}
.box3{
    width: 200px;
    height: 200px;
    background-color: lightyellow;
    float: left;
}
.box4{
    width: 200px;
    height: 200px;
    background-color: lightgreen;
    float: right;
}
.box5{
    width: 200px;
    height: 200px;
    background-color: lightpink;
    float: right;
}
.box6{
    width: 200px;
    height: 200px;
    background-color: lightsalmon;
    clear: right;
}
#clearfix{
    overflow: auto;
}

.clearfix{
    overflow: auto;
}
.element1{
    float: left;
    width: 200px;
    height: 200px;
    background-color: green;
}
.element2{
    float: right;
    width: 200px;
    height: 200px;
    background-color: lightgreen;
}*/
ul.navigasi {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #333;
}
ul.navigasi li{
    float: left;
}
ul.navigasi li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.navigasi li a:hover{
    background-color: #111;
}
.container{
    width: 100%;
}
.sidebar{
    float: left;
    width: 30%;
    background-color: #f0f0f0;
}
.konten{
    float: right;
    width: 70%;
    background-color: #6e6e6e;
}
.clearfix ::after{
    content: "";
    display: block;
    clear: both;
}