/*static*/
.container{
    background: lightgreen;
    width: 600px;
    height: 150px;
}
.yellow-boxes{
    display: inline-block;
    margin: 10px;
    background: yellow;
    width: 100px;
    height: 100px;
}