.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color: white;
  color: black;
  position: sticky;
  top: 0;
}
.navigasi ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  list-style: none;
  background-color: white;
  padding: 1rem;
}
.nav ul li {
  margin: 20px;
}
.nav ul li a {
  color: black;
  text-decoration: none;
  align-items: center;
  padding: 8px 12px;
  display: block;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: transform 0.3s;
}
.nav ul li a:hover {
  transform: translateY(10px);
  color: #014cdb;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s;
}
.logo:hover {
  transform: translateY(10px);
}
.button-1 {
  color: white;
  background-color: #014cdb;
  width: 166px;
  height: 58px;
  border-radius: 10px;
  border: none;
  transition: transform 0.3s;
}
.button-1:hover {
  transform: translateY(10px);
}
.claims {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  top: 0;
  margin: 25px;
  padding-top: 2px;
}
.title-dalam {
  transition: transform 0.3s;
}
.title-dalam:hover {
  transform: translateY(10px);
}
.boost {
  text-align: center;
  font-size: 81px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.boost .highlight {
  color: #014cdb;
}
.penjelasan {
  text-align: center;
  font-size: 28px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #3d4048;
}
.button-header-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  background-color: white;
  margin: 0;
  color: black;
  top: 0;
}
.button-Watch-Demo {
  margin: 40px;
  width: 179;
  height: auto;
  color: #014cdb;
  background-color: white;
  border-color: #014cdb;
  border: 3px solid;
  border-radius: 10px;
  padding: 15px 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  transition: transform 0.3s;
}
.button-Watch-Demo:hover {
  transform: translateY(10px);
}

.button-Try-to-Free {
  margin: 40px;
  width: 179;
  height: auto;
  color: white;
  background-color: #014cdb;
  border: 4px solid;
  border-color: #014cdb;
  border-radius: 10px;
  padding: 15px 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  transition: transform 0.3s;
}
.button-Try-to-Free:hover {
  transform: translateY(10px);
}
.img-in-header {
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.Trusted {
  padding-top: 50px;
}
.logo-1 {
  padding-top: 5%;
}
.title-2 {
  padding-top: 10%;
}
.tulisan {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 23px;
  color: grey;
}
.how {
  text-align: center;
  font-size: 54px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
.head{
  
}