
h1 {
  font-family: sans-serif;
  text-align: center;
}
button{
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightblue;
    color: black;
    font-family: sans-serif;
    font-weight: 900;

}
.judul{
    font-family: sans-serif;
    text-align: center;
}